html, body{
    background: #f5f5f5;
    overflow: auto;
}
body{
    padding-top: 65px;
}
.container{
    max-width: 1024px;
}
@media(max-width: 979px){
    body{
	padding-top: 0;
    }
}
@media(min-width: 400px) and (max-width: 768px){
    #sidebar{
	display: none;
    }
    .hero-unit{
	padding: 1em;
    }
    .hero-unit h1{
	font-size: 225%;
    }
    #indexHero h2{
	font-size: 135%;
    }
}
@media(max-width: 400px){
    #sidebar{
	display: none;
    }
    .hero-unit{
	padding: 1em;
    }
    .hero-unit h1{
	font-size: 200%;
    }
    #indexHero h2{
	font-size: 115%;
    }
}
section{
    margin-bottom: 3em;
}
section h2{
    margin-top: -40px;
    padding-top: 40px;
}
section li > h3{
    margin-top: 1em;
}
#footer{
    width: 100%;
    border-top: 1px solid #ccc;
    background: #f5f5f5;
    text-align: center;
    margin: 2em 0;
}
#footer #container{
    text-align: center;
    margin: 2em 0;
}

.carousel-inner{
    margin-bottom: 3em;
}
.span3{
    height: 1px;
}
#left-side-nav.affix {
    top: 65px;
}​

#myCarousel{
    max-width: 1024px;
}
#indexHero{
    text-align: center;
}
#indexHero button{
    margin: 1em auto;
}
#index-meta ul{
    list-style-type: none;
    position: relative;
    left: -50%;
}
#index-meta li{
    font-size: 80%;
    display: inline-block;
    margin: 0 1.5em;
}
#index-meta{
    position: relative;
    left: 50%;
}